## 문자열(String)

In [11]:
stock_name= "SEC"
date= "20180212"
tail= "250"
fullstring = stock_name+" "+date+" "+tail
print(fullstring)

SEC 20180212 250

## 실습 1. Sec 2018W28 250”  문자열 생성 후, stock_name, date, value로 각각 의미하는 문자열을 생성하세요. (단 모두 대문자여야 하며, ‘W’를 삭제해야함!

In [21]:
test= "SEC 20180212 250"

In [65]:
stockLen = 3
dateLen = 8
volumeLen = 3

In [67]:
stockName =test [0:stockLen]
stockName

'SEC'

In [71]:
date = test [stockLen+1: stockLen+1+dateLen]
date

'20180212'

In [25]:
stockName = test[0:4]
date = test[4:4+8]
volume = test[4+8+1:]
print(stockName)
print(date)
print(volume)

# 이 방법은 숫자가 들어가기 때문에 별로 좋지 않음

SEC
20180212
250

## “Sec 2018W28 250”  문자열 생성 후
stock_name, date, value로 각각 의미하는
문자열을 생성하세요
(단 모두 대문자여야 하며, ‘W’를 삭제해야함)

In [77]:
test2= "Sec 2018W28 250"
test2

'Sec 2018W28 250'

In [78]:
UpperTest = test2.upper()
UpperTest

'SEC 2018W28 250'

In [87]:
StdTest = UpperTest.replace("W","")
StdTest

'SEC 201828 250'

In [89]:
splitData = StdTest.split(" ") # ""공백 안에 빈칸 꼭 넣기
splitData

['SEC', '201828', '250']

In [64]:
print(secinfo)

['SEC', 120.13, [201712, 201713]]

## 분모가 0인 경우 뜨는 에러

In [1]:
5/0

ZeroDivisionError: division by zero

## 1.average_del

In [160]:
updateList = [120,150,300,500,1000,100,2000] 
print(updateList)

[120, 150, 300, 500, 1000, 100, 2000]

In [161]:
del updateList[5]
print(updateList)

[120, 150, 300, 500, 1000, 2000]

In [163]:
del updateList[5]
print(updateList)

[120, 150, 300, 500, 1000]

In [164]:
average=(sum(updateList)/5)
print(average)

414.0

# 2.average_max/min

In [167]:
secinfo = [120,150,300,500,1000,100,2000] 
average= sum(secinfo[0:5])
print(average/5)

414.0

In [3]:
test2 =  [120,150,300,500,1000,100,2000]

In [8]:
minValue = min(test2)
print(minValue)
maxValue = max(test2)
print(maxValue)

100
2000

In [9]:
test2.remove(minValue)
test2.remove(maxValue)
test2

[120, 150, 300, 500, 1000]

In [10]:
average = sum(test2)/len(test2)
average

414.0

# 3.average_index

In [11]:
test3=[120,150,300,500,1000,100,2000] 
minFalueIndex = test3.index(min(test))
minFalueIndex

NameError: name 'test' is not defined

# 4. average_sort

In [192]:
test=[120,150,300,500,1000,100,2000]

In [200]:
test.sort()
#sort함수는 차례대로 정렬하는 거니까 시간이 많이 듦

In [196]:
del test[len(test)-1]

In [197]:
test

[120, 150, 300, 500, 1000]

In [199]:
average=sum(test)/len(test)
average

414.0

# 쉼게 지우는 법(Remove 함수)

In [152]:
testList= [1,2,3,4,5,6]

In [153]:
testList.remove(6)

In [154]:
testList

[1, 2, 3, 4, 5]

In [125]:
splitData[1]

'201828'