In [1]:
# 답이 연속적인 숫자 -> regression
# 답이 어떤 카테고리 -> classification (아래 하는거)

In [2]:
import numpy as np
import pandas as pd

#모델 라이브러리 선언
from sklearn import svm

##Test/Training 자동 분리               ##-------과거 데이터를 테스트용과 정답용으로 나누는 것! 
from sklearn.model_selection import train_test_split

#모델 정확도 라이브러리 선언
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [3]:
#랜덤함수를 고정 
np.random.seed(42) #난수 중, 42번째의 난수를 가지고 온다.

### 1.분석데이터 로딩

고객 분류(VIP, DIAMOND, NORMAL)

In [4]:
csData = pd.read_csv("../dataset/customer.csv")
csData.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

### 2. 원하는 컬럼 조회하기

In [5]:
# feature, label 컬럼 설정
featuresCol = ["deposit","stock"]
labelCol = ["label"]

## feature 데이터, label 데이터 분리
featuresData = csData[featuresCol]
labelData = csData[labelCol]

### train test_split 함수를 활용해 feature / label 데이터 자동 분리 7:3
feature_train, feature_test, label_train, label_test = \
    train_test_split(featuresData, labelData, test_size=0.3)

In [6]:
len(feature_test)

6000

### 3. 모델선언 및 학습

In [7]:
###define model
model = svm.SVC()
### Learning (Feature & Label)
model.fit(feature_train, label_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

### 4. 예측

In [8]:
## 테스트데이터 feature만 가지고 예측하기
predict = model.predict(feature_test)
predict

array(['normal', 'diamond', 'diamond', ..., 'normal', 'diamond',
       'diamond'], dtype=object)

### 5.데이터 정리

In [9]:
### 데이터 프레임으로 변환 & 데이터 컬럼명 설정
predictData = pd.DataFrame(predict)
predictData.columns = ["customer"]

#### 방법 1.concat 이용해서 data merge

resultConcat = pd.concat([csData,predictData],axis=1)
# resultConcat["customer"]=resultConcat["0"]
resultConcat.head()

      deposit     stock    label customer
0  1400000000  45000000   normal   normal
1  1450000000  72000000  diamond  diamond
2  1500000000  61000000  diamond  diamond
3  1370000000  56000000   normal   normal
4  1920000000  48000000  diamond  diamond

### 6.결과 검증

In [10]:
# 결과 테스트하기
ac_score = accuracy_score(label_test, predict)
cl_report = classification_report(label_test, predict)

## 결과 리포트하기
print("Accuracy = ", ac_score)
print("result = \n ", cl_report)

Accuracy =  0.9906666666666667
result =
               precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3580
     normal       1.00      0.98      0.99      1705
        vip       1.00      0.97      0.99       715

avg / total       0.99      0.99      0.99      6000

### 7. 데이터 합치기_Join(pd.merge)

데이터 조인 : pd. merge(데이터프레임명1, 데이터프레임명2, left_on=‘데이터프레임1 조인 키’                                                right_on=‘데이터프레임2 조인 키’, how = “left”)

In [11]:
student_mid = pd.read_csv("../dataset/student_middle.csv")
student_mid.head()

     NAME  SW  DB  AND
0  ST0001  95  30    0
1  ST0002  50  50    0
2  ST0003  15  30   15
3  ST0004  90  50   20
4  ST0005  75  20   20

In [12]:
student = pd.read_csv("../dataset/student_smart.csv")
student.head()

     NAME STUDENT
0  ST0001     고지인
1  ST0002     권슬기
2  ST0003     김동준
3  ST0004     김성림
4  ST0005     김유림

In [13]:
mergeSet = pd.merge(student_mid,student,left_on="NAME",right_on="NAME") #student_mid 파일과 student 파일을 NAME 컬럼을 기준으로 JOIN한다.
[["NAME"],["STUDENT"],["SW"],["DB"],["AND"]] #합친 파일 컬럼명을 이 순서대로 출력한다.
mergeSet.head()

     NAME  SW  DB  AND STUDENT
0  ST0001  95  30    0     고지인
1  ST0002  50  50    0     권슬기
2  ST0003  15  30   15     김동준
3  ST0004  90  50   20     김성림
4  ST0005  75  20   20     김유림

# BMI 데이터 합치기

### 데이터 불러오기

In [18]:
bmiData = pd.read_csv("../dataset/bmi.csv")
bmiData.head()

   height  weight   label
0     140      45  normal
1     145      72     fat
2     150      61     fat
3     137      56     fat
4     192      48    thin

### 원하는 컬럼 조회하기

In [19]:
#feature, label 컬럼 설정
featureColumn = ["height", "weight"]
labelColumn = ["label"]

##feature 데이터, label 데이터 분리
featuresBMI = bmiData[featureColumn]  # -----featureData = bmiData[["height","weight"]] 와 같음
labelBMI = bmiData[labelColumn]      # ------labelData= bmiData[["label"]]와 같음

### train test_split 함수를 활용해 feature/label 데이터 자동 분리 8:2
feature_train_bmi, feature_test_bmi, label_train_bmi, label_test_bmi = \
    train_test_split(featuresBMI, labelBMI, test_size=0.2)   ##----앞 네개 변수에 train_test_split함수를 이용해 나눈거

### 모델선언 및 학습

In [26]:
###define model
model_bmi = svm.SVC()
### Learning (Feature & Label)
model_bmi.fit(feature_train_bmi, label_train_bmi)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

### 예측

In [27]:
## 테스트데이터 feature만 가지고 예측하기
predict_bmi = model_bmi.predict(feature_test_bmi)
predict_bmi

array(['fat', 'fat', 'normal', ..., 'fat', 'normal', 'normal'],
      dtype=object)