In [9]:
import pymysql
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [10]:
engine_mysql = create_engine('postgresql://haiteam:haiteam@13.209.112.251:5432/postgres')

In [11]:
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

selloutData.head()

NameError: name 'engine' is not defined

In [12]:
resultname='quiz_정예은'
selloutData,to sql(resultname, engine, if_exists='replace')

SyntaxError: invalid syntax (<ipython-input-12-521bd7fa70f4>, line 2)

## MYSQL DB 데이터 불러서 postgresql에 저장하기

In [64]:
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine

In [68]:
#DB커넥션 열기
engine_mysql = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo') 
#DB 테이블을 읽어 Data frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', #이름 바꾸기 engine_mysql) 
selloutData.head()

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [69]:
engine_postgres = create_engine('postgresql://haiteam:haiteam@13.209.112.251:5432/postgres')

In [70]:
resultname='quiz_정예은'
selloutData.to_sql(resultname, engine_postgres, if_exists='replace')