In [8]:
import urllib.request
import pandas as pd

In [9]:
firstUrl = "https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001452152&fileDetailSn=1&publicDataDetailPk=uddi:92b6c0f8-0e5c-4294-9317-aecb595c5d6f"

In [10]:
saveUrl=pd.read_csv(firstUrl,encoding="ms949")

In [13]:
saveUrl.head()

,지역,2013년 01월,2013년 02월,2013년 03월,2013년 04월,2013년 05월,2013년 06월,2013년 07월,2013년 08월,2013년 09월,...,2017년 08월,2017년 09월,2017년 10월,2017년 11월,2017년 12월,2018년 01월,2018년 02월,2018년 03월,2018년 04월,2018년 05월
0,전국 5년 이하,93,92.7,92.5,92.4,92.6,92.5,92.3,92.1,92.1,...,99.7,99.9,100,100,100.1,100.3,100.6,100.9,101.1,101.1
1,전국 5년 초과 ~ 10년 이하,91.8,91.6,91.5,91.7,91.9,91.9,91.8,91.7,91.8,...,99.7,99.7,99.9,100,100.1,100.4,100.7,100.9,101.0,100.9
2,전국 10년 초과 ~ 15년 이하,90.7,90.5,90.4,90.6,90.9,91,91,90.9,90.9,...,99.8,99.9,100,100,100.0,100.1,100.2,100.3,100.4,100.3
3,전국 15년 초과 ~ 20년 이하,89.7,89.5,89.4,89.6,89.9,90,90.1,90,90.1,...,99.9,99.9,100,100,100.0,100.0,100.1,100.1,100.1,99.9
4,전국 20년 초과,89.1,88.9,88.8,89,89.2,89.2,89.1,88.9,89,...,99.8,99.8,99.9,100,100.1,100.4,100.6,100.7,100.6,100.4

In [12]:
saveUrl.to_csv("./한국감정원 부동산 매매가격지수 현황.csv",encoding="ms949")