In [1]:
import pandas as pd

In [3]:
from sklearn.cluster import KMeans

#시각화 라이브러리
import matplotlib.pyplot as plt

#Only needed if you want to display your plots inline using Notebook
#change

In [4]:
studentData = pd.read_csv("../dataset/student_middle.csv")
studentData.head()

     NAME  SW  DB  AND
0  ST0001  95  30    0
1  ST0002  50  50    0
2  ST0003  15  30   15
3  ST0004  90  50   20
4  ST0005  75  20   20

In [5]:
name = studentData [["NAME"]
studentData

['NAME']