In [3]:
import pandas as pd
import numpy as np

### 1. 데이터 로드

In [4]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [5]:
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

In [6]:
selloutData["NEW_QTY"] = np.where(selloutData["QTY"] < 0, 0, selloutData["QTY"])

In [7]:
### 53주차 제거

In [8]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
NEW_QTY     float64
dtype: object

In [9]:
selloutData["WEEK"] = selloutData["YEARWEEK"]%100

In [10]:
def customFunction(inputColumn):

    #inputColumn = 201601
    yearValue = inputColumn/100
    yearValue = int(yearValue)
    return yearValue

In [11]:
selloutData["YEAR"] = selloutData["YEARWEEK"].apply(customFunction)

In [12]:
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY  NEW_QTY  WEEK  YEAR
0      A60  PRODUCT4    201402  71.0     71.0     2  2014

In [13]:
refinedData = selloutData[selloutData.WEEK < 53]

In [14]:
refinedData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  WEEK  YEAR
0      A60   PRODUCT4    201402     71.0     71.0     2  2014
1      A60  PRODUCT59    201402  22275.0  22275.0     2  2014
2      A60  PRODUCT34    201402   4463.0   4463.0     2  2014
3      A60  PRODUCT47    201402      0.0      0.0     2  2014
4      A60  PRODUCT56    201402     23.0     23.0     2  2014

In [15]:
sortKey = ["REGIONID","PRODUCT","YEARWEEK"]

In [16]:
sortedData = refinedData.sort_values(sortKey)

In [17]:
sortedData.head()

     REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
298       A00  PRODUCT34    201401  661.0    661.0     1  2014
1757      A00  PRODUCT34    201402  679.0    679.0     2  2014
3125      A00  PRODUCT34    201403  578.0    578.0     3  2014
205       A00  PRODUCT34    201404  532.0    532.0     4  2014
4369      A00  PRODUCT34    201405  516.0    516.0     5  2014

In [18]:
step1Data = sortedData.reset_index(drop=True)

In [19]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR
0      A00  PRODUCT34    201401  661.0    661.0     1  2014
1      A00  PRODUCT34    201402  679.0    679.0     2  2014
2      A00  PRODUCT34    201403  578.0    578.0     3  2014
3      A00  PRODUCT34    201404  532.0    532.0     4  2014
4      A00  PRODUCT34    201405  516.0    516.0     5  2014

### 1. 기본 이동평균 함수

In [20]:
step1Data["MA"] = step1Data.NEW_QTY.rolling(
    window=15, center=True, min_periods=1).mean()

In [21]:
groupKey = ["REGIONID","PRODUCT","YEAR"]

In [22]:
groupData = step1Data.groupby(groupKey)[["NEW_QTY"]].mean()

In [23]:
groupDataResult = groupData.reset_index()

In [24]:
groupDataResult.head(3)

  REGIONID    PRODUCT  YEAR     NEW_QTY
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923

In [25]:
groupDataResult.columns=["REGIONID","PRODUCT","YEAR","MEAN_QTY"]
groupDataResult.head(2)

  REGIONID    PRODUCT  YEAR    MEAN_QTY
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615

In [26]:
leftData = step1Data
leftData.head(1)

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  WEEK  YEAR     MA
0      A00  PRODUCT34    201401  661.0    661.0     1  2014  520.0

## 데이터 합치기 (속성)

In [27]:
joinKey = ["REGIONID","PRODUCT","YEAR"]

In [28]:
mergedData1 = pd.merge(leftData, groupDataResult, how="left", on=joinKey)

In [29]:
mergedData1

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,WEEK,YEAR,MA,MEAN_QTY
0,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,275.961538
1,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,275.961538
2,A00,PRODUCT34,201403,578.0,578.0,3,2014,516.800000,275.961538
3,A00,PRODUCT34,201404,532.0,532.0,4,2014,503.363636,275.961538
4,A00,PRODUCT34,201405,516.0,516.0,5,2014,490.750000,275.961538
5,A00,PRODUCT34,201406,423.0,423.0,6,2014,480.230769,275.961538
6,A00,PRODUCT34,201407,407.0,407.0,7,2014,468.214286,275.961538
7,A00,PRODUCT34,201408,364.0,364.0,8,2014,456.666667,275.961538
8,A00,PRODUCT34,201409,470.0,470.0,9,2014,431.533333,275.961538
9,A00,PRODUCT34,201410,538.0,538.0,10,2014,402.066667,275.961538
10,A00,PRODUCT34,201411,369.0,369.0,11,2014,375.533333,275.961538
11,A00,PRODUCT34,201412,352.0,352.0,12,2014,350.800000,275.961538
12,A00,PRODUCT34,201413,354.0,354.0,13,2014,325.733333,275.961538
13,A00,PRODUCT34,201414,312.0,312.0,14,2014,305.266667,275.961538
14,A00,PRODUCT34,201415,295.0,295.0,15,2014,284.666667,275.961538
15,A00,PRODUCT34,201416,284.0,284.0,16,2014,265.933333,275.961538
16,A00,PRODUCT34,201417,237.0,237.0,17,2014,239.333333,275.961538
17,A00,PRODUCT34,201418,180.0,180.0,18,2014,207.800000,275.961538
18,A00,PRODUCT34,201419,161.0,161.0,19,2014,187.200000,275.961538
19,A00,PRODUCT34,201420,140.0,140.0,20,2014,169.200000,275.961538
20,A00,PRODUCT34,201421,116.0,116.0,21,2014,155.666667,275.961538
21,A00,PRODUCT34,201422,98.0,98.0,22,2014,153.133333,275.961538
22,A00,PRODUCT34,201423,83.0,83.0,23,2014,168.933333,275.961538
23,A00,PRODUCT34,201424,71.0,71.0,24,2014,179.933333,275.961538
24,A00,PRODUCT34,201425,65.0,65.0,25,2014,193.000000,275.961538
25,A00,PRODUCT34,201426,60.0,60.0,26,2014,205.266667,275.961538
26,A00,PRODUCT34,201427,82.0,82.0,27,2014,217.600000,275.961538
27,A00,PRODUCT34,201428,151.0,151.0,28,2014,229.066667,275.961538
28,A00,PRODUCT34,201429,274.0,274.0,29,2014,237.600000,275.961538
29,A00,PRODUCT34,201430,532.0,532.0,30,2014,246.200000,275.961538
...,...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT12,201623,5348.0,5348.0,23,2016,4159.933333,4837.153846
123835,A77,PRODUCT12,201624,3275.0,3275.0,24,2016,4272.333333,4837.153846
123836,A77,PRODUCT12,201625,4158.0,4158.0,25,2016,4435.133333,4837.153846
123837,A77,PRODUCT12,201626,4815.0,4815.0,26,2016,4530.533333,4837.153846
123838,A77,PRODUCT12,201627,3002.0,3002.0,27,2016,4518.466667,4837.153846
123839,A77,PRODUCT12,201628,3319.0,3319.0,28,2016,4527.000000,4837.153846
123840,A77,PRODUCT12,201629,4200.0,4200.0,29,2016,4528.533333,4837.153846
123841,A77,PRODUCT12,201630,7120.0,7120.0,30,2016,4402.866667,4837.153846
123842,A77,PRODUCT12,201631,6345.0,6345.0,31,2016,4418.533333,4837.153846
123843,A77,PRODUCT12,201632,5863.0,5863.0,32,2016,5182.466667,4837.153846
123844,A77,PRODUCT12,201633,4211.0,4211.0,33,2016,5145.466667,4837.153846
123845,A77,PRODUCT12,201634,4019.0,4019.0,34,2016,5091.800000,4837.153846
123846,A77,PRODUCT12,201635,3624.0,3624.0,35,2016,5177.800000,4837.153846
123847,A77,PRODUCT12,201636,3742.0,3742.0,36,2016,5340.533333,4837.153846
123848,A77,PRODUCT12,201637,3002.0,3002.0,37,2016,5334.466667,4837.153846
123849,A77,PRODUCT12,201638,5583.0,5583.0,38,2016,5160.200000,4837.153846
123850,A77,PRODUCT12,201639,14734.0,14734.0,39,2016,5020.866667,4837.153846
123851,A77,PRODUCT12,201640,3603.0,3603.0,40,2016,4868.266667,4837.153846
123852,A77,PRODUCT12,201641,4010.0,4010.0,41,2016,4864.333333,4837.153846
123853,A77,PRODUCT12,201642,4292.0,4292.0,42,2016,4935.466667,4837.153846
123854,A77,PRODUCT12,201643,5760.0,5760.0,43,2016,5083.600000,4837.153846
123855,A77,PRODUCT12,201644,4109.0,4109.0,44,2016,5163.000000,4837.153846
123856,A77,PRODUCT12,201645,4506.0,4506.0,45,2016,5466.266667,4837.153846
123857,A77,PRODUCT12,201646,4255.0,4255.0,46,2016,5457.928571,4837.153846
123858,A77,PRODUCT12,201647,3574.0,3574.0,47,2016,4744.384615,4837.153846
123859,A77,PRODUCT12,201648,4152.0,4152.0,48,2016,4839.500000,4837.153846
123860,A77,PRODUCT12,201649,5086.0,5086.0,49,2016,4914.909091,4837.153846
123861,A77,PRODUCT12,201650,5846.0,5846.0,50,2016,4977.200000,4837.153846
123862,A77,PRODUCT12,201651,4933.0,4933.0,51,2016,4890.222222,4837.153846
123863,A77,PRODUCT12,201652,7551.0,7551.0,52,2016,4987.875000,4837.153846

In [29]:
len(leftData)

123864

In [30]:
len(mergedData1)

123864

In [31]:
mergedData1.to_csv("./mergedData2.csv")

In [32]:
groupKey = ["REGIONID","PRODUCT"]

### 그룹바이함수 만들기

In [33]:
#groupDataSet = mergedData1.groupby(groupKey)

In [34]:
def groupRolling(oneGroup):

    #len(list(groupDataSet.groups))

    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[2])
    #oneGroup.head(1)

    indexGroupData = oneGroup.reset_index(drop=True)
    indexGroupData["MA2"] = indexGroupData["NEW_QTY"].rolling(window=5,center=True,min_periods=1).mean()

    return indexGroupData

In [35]:
finalResult = mergedData1.groupby(groupKey).apply(groupRolling)

In [36]:
finalResult2 = finalResult.reset_index(drop=True)

In [37]:
finalResult2.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,NEW_QTY,WEEK,YEAR,MA,MEAN_QTY,MA2
0,A00,PRODUCT34,201401,661.0,661.0,1,2014,520.000000,275.961538,639.333333
1,A00,PRODUCT34,201402,679.0,679.0,2,2014,514.444444,275.961538,612.500000
2,A00,PRODUCT34,201403,578.0,578.0,3,2014,516.800000,275.961538,593.200000
3,A00,PRODUCT34,201404,532.0,532.0,4,2014,503.363636,275.961538,545.600000
4,A00,PRODUCT34,201405,516.0,516.0,5,2014,490.750000,275.961538,491.200000

regionid가 A01인 데이터를 fullData에

In [38]:
fullData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [39]:
a01Data =fullData[fullData.REGIONID=="A01"]
len(a01Data)

3611

In [43]:
a20Data =fullData[fullData.REGIONID=="A20"]
len(a20Data)

471

In [44]:
resultConcat = pd.concat([a01Data,a20Data],axis=0)

In [45]:
len(resultConcat)

4082