In [4]:
from datetime import datetime as dt2

In [9]:
currentDate = dt2.now()
currentDate

datetime.datetime(2019, 3, 14, 11, 46, 17, 306919)

In [17]:
hourVar = currentDate.hour
minutesVar = currentDate. minute
print(hourVar)
print (minutesVar)

11
46

In [ ]:
a=123

In [19]:
b="123"

In [24]:
answer = a+1


answer = b+1

In [26]:
type(a)

int

In [ ]:
head = "smart"
tail = "analytics"

In [11]:
head = "fintech"
tail = "student"
fullstring = head+ " " +tail
print(fullstring)

fintech student

In [36]:
starChar = "*"
starMul = "*"*100
starMul

'****************************************************************************************************'

In [18]:
stock_name= "Sec"
date= "2018W28"
vaule= "250"
fullstring = stock_name+" "+date+" "+tail
print(fullstring)

SEC 20180212 250

In [51]:
yearweek = "201701"
firstYear = yearweek[0]
firstYear

'2'

In [40]:
yearweek[0:]

'201701'

In [41]:
yearweek[0:6]

'201701'

In [44]:
yearweek[0:4]

'2017'

In [45]:
YEARLEN = 4

In [47]:
yearweek[YEARLEN:]

'01'

In [58]:
yearweeK = "2018W"
print(yearweeK.count('W'))

1

In [19]:
yearweek= "2017W28"
splitVar = yearweek.split("W")
splitVar

['2017', '28']

In [64]:
type(splitVar)

list

In [66]:
yearweek= " 2018W28"yearweek.lower()
# lower는 소문자
# upper는 대문자

'2017w28'

In [10]:
print(SEC)

NameError: name 'SEC' is not defined

In [7]:
date()

NameError: name 'date' is not defined

In [ ]:
import pandas as pd