In [5]:
import MySQLdb
import pymysql

In [3]:
db = MySQLdb.connect(host="127.0.0.1", user="kopo1234", passwd="kopo1234", db="kopo1234")

OperationalError: (1045, "Access denied for user 'kopo1234'@'localhost' (using password: YES)")

In [7]:

def db_query(db, sql, params) :  
    Connect to MySQL conn = pymysql.connect( host='localhost', user='kopo1234', password='kopo1234', charset='utf8', db=db1234 ) 
    try: create Dictionary Cursor with conn.cursor() as cursor: sql_query = sql 
            excute SQL cursor.execute(sql_query, params) 
            commit data conn.commit() 
        kopo1234finally: conn.close()

SyntaxError: invalid syntax (<ipython-input-7-0d6ca02e394b>, line 3)

In [4]:
# you must create a Cursor object. It will let
#  you execute all the queries you need
cur = db.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM YOUR_TABLE_NAME")

# print all the first cell of all the rows
for row in cur.fetchall():
    print (row[0])

db.close()

NameError: name 'db' is not defined