count 함수 (해당 문자 개수 세기)

In [5]:
yearweek = "2017W28"

In [6]:
print(yearweek.count('W'))

1

### .index(요소) : 몇 번째 자리에 있다는걸 나타냄 
### [ ] 함수(문자열 위치확인) :

In [16]:
print(yearweek.index('W'))

4

In [17]:
delimeter = yearweek.index('W')

In [18]:
yearweekNew = yearweek[:delimeter]+yearweek[delimeter+1:]

In [19]:
print([yearweekNew])

['201728']

split 함수

In [15]:
yearweekList = yearweek.split("W")

In [20]:
print(yearweekList)

['2017', '28']

자료형 변환

In [27]:
numberValue =1234
cvStrValue =str(numberValue)
type(cvStrValue)

str

In [22]:
strValue ="1234"

In [26]:
cvIntValue =int(strValue)
type(cvIntValue)

int

"SEC 20180212 250" 문자열 나누기

In [37]:
#stock_name,date,value로 의미하는 문자열을 각각 생성하시오.
str = "SEC20180212250"
stock_name = str[0:3]
date = str[3:11]
value= str[11:]

In [38]:
stock_name

'SEC'

In [39]:
date

'20180212'

In [40]:
value

'250'

"Sec2018W28250"  (대문자 변환, W삭제)

In [72]:
str = "Sec2018W28250"
# W 생략 방법 (인덱스)
str = str[0:7]+str[8:]
#대문자 변환
str = str.upper()
stock_name=str[0:3]
date = str[3:9]
value = str[9:]

In [73]:
stock_name

'SEC'

In [74]:
date

'201828'

In [75]:
value

'250'

### List 함수

리스트 연산

In [127]:
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712,201713]

In [128]:
secinfo = stockName +priceList + [dateList]
secinfo

['SEC', 120, 130, [201712, 201713]]

리스트 인덱싱

In [129]:
secinfo[1]

120

In [130]:
secinfo[3]

[201712, 201713]

In [131]:
secinfo[3][0]

201712

In [132]:
secinfo[0:3]

['SEC', 120, 130]

리스트 값 업데이트 하기

In [133]:
updateList = [120,130,140,150]
updateList[2] =180
updateList

[120, 130, 180, 150]

### del 함수 (리스트 값 삭제하기)

In [134]:
del updateList[3]
print(updateList)

[120, 130, 180]

### index함수 리스트 구간 삭제하기

In [135]:
updateList[1:3]

[130, 180]

### append 함수 (list 마지막에 요소 추가)

In [136]:
functionList= [120, 130, 180, 150]
functionList.append(100)

In [137]:
functionList

[120, 130, 180, 150, 100]

### insert 함수 (list 특정 자리에 요소 추가)

In [138]:
#특정 자리에 추가하기
functionList.insert(3,10)
functionList

[120, 130, 180, 10, 150, 100]

### extend 함수 (list 마지막에 요소 추가)

In [139]:
functionList.extend([11,12])
functionList

[120, 130, 180, 10, 150, 100, 11, 12]

### sort 함수 (list 정렬하기)

In [153]:
#false는 오름차순
functionList.sort(reverse=False)
functionList

[10, 11, 12, 100, 120, 130, 150, 180]

In [154]:
#true는 내림차순
functionList.sort(reverse=True)
functionList

[180, 150, 130, 120, 100, 12, 11, 10]

위 list에서 150이라는 요소가 1번째 인덱스에 있다는걸 나타냄

In [155]:
functionList.index(150)

1

리스트의 길이, 최대, 최소, 합계 구하기

In [156]:
len(functionList)

8

In [157]:
min(functionList)

10

In [158]:
max(functionList)

180

In [159]:
sum(funtionList)

680

count 함수 (리스트 요소 개수 세기) - 120이 list안에 몇개 있는지

In [161]:
functionList.count(120)

1

pop 함수 (리스트 맨 마지막 요소 빼기)

In [162]:
functionList.pop()

10

In [164]:
functionList

[180, 150, 130, 120, 100, 12, 11]

### [120,150,300,500,1000,100,2000] 값에서 최소 최대 값을 뺀 평균을 average 이름의 변수에 담으세요

##### remove 함수 이용

In [200]:
List = [120,150,300,500,1000,100,2000]
#최소값 제거
minValue = min(List)
List.remove(minValue)
#최대값 제거
maxValue = max(List)
List.remove(maxValue)
#평균
average =sum(List)/len(List)
average

414.0

##### del 함수 이용

In [212]:
List = [120,150,300,500,1000,100,2000]
m =List.index(min(List))
del List[m] 
List
M =List.index(max(List))
del List[M]
sum(List)/len(List)

414.0

### 현재 시간과 분을 입력값으로 받아서 두개의 값을 더하는 연산을 수행하세요.

In [9]:
from datetime import datetime

In [43]:
now =datetime.now()
minutes = now.minute
hour = now.hour
print(now)

2019-04-15 20:27:37.710323

In [45]:
minutes

27

In [46]:
hour

20

In [47]:
sum = minutes + hour
sum

47