## 실습2. 리스트를 인수로 받아서 최대, 최소값을 뺀 평균을 구하는 함수를 생성하세요.

In [89]:
list2 = [32,3,4,5,41,0,3,4,4,-234]

In [92]:
def sumStep (a) :
    step1= sum(a)
    step2= max(a)+min(a)
    step3= (step1-step2) / (len(a)-2)
    return step3
##여기서 a라고 한 이유는 a자리에 들어가는 변수는 지역변수 이기 때문에 함수 안에서만 유효한 거기 때문이다. 
##수학에서 x,y,z 같은 역할 인 것! y=2x 처럼 정의해 주는 역할일 뿐인거지!

In [93]:
sumStep(list2)

6.875

In [ ]:
\ ## -> 이건 아랫줄과 같은 줄로 인식하게 하는 명령어

In [97]:
import pandas as pd

In [99]:
customerData = pd.read_csv("./dataset/kopo_customerdata.csv")
customerData.head(2)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0

In [ ]:
del averageList(customerTotalList):
    #customerTotalList = [1,2,3,4,5,6,7,8]

In [100]:
name=input("성함을 입력하세요.")
print(name)

성함을 입력하세요.정예은
정예은

## heide SQL 접속하기

In [7]:
#PANDAS 패키지 불러오기
import pandas as pd
import pymysql
from sqlalchemy import create_engine
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')
#DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData =pd.read_sql_query('SELECT * FROM kopo_product_volume',engine)
selloutData

# 컬럼해더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 저장
resultname='mysql_YE'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

ValueError: 'replace, index=False' is not valid for if_exists