내가 가지고 있는 데이터를 올릴 때 컬럼을 안 작성하고 올리는 경우가 있다. (pivot식으로 자료를 받지 못하는 경우가 있다.) 이 때, unpivot을 시켜서 (melt)시켜서 컴퓨터와 대화할 수 있게 해준다. 
//pivot - 설명력 UP
//unpivot - 컴퓨터로 제어할 때 편한 형식

### PIVOT(행을 열로)

In [26]:
import pandas as pd

In [27]:
selloutData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")

In [28]:
pivotResult = selloutData.\
pivot_table(index = ["REGIONID","PRODUCT"], columns ='YEARWEEK' , values ='QTY', aggfunc ="mean")
pivotResult2 =pivotResult.reset_index()

In [29]:
pivotResult2.head()

YEARWEEK,REGIONID,PRODUCT,201401,201402,201403,201404,201405,201406,201407,201408,...,201643,201644,201645,201646,201647,201648,201649,201650,201651,201652
0,A00,PRODUCT34,661.0,679.0,578.0,532.0,516.0,423.0,407.0,364.0,...,11.0,15.0,18.0,14.0,9.0,17.0,19.0,35.0,73.0,22.0
1,A00,PRODUCT58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,155.0,213.0,126.0,101.0,141.0,175.0,155.0,104.0,27.0,19.0
2,A00,PRODUCT59,9988.0,9005.0,8416.0,8553.0,10355.0,13799.0,17292.0,16369.0,...,15337.0,19388.0,21567.0,18314.0,19733.0,18127.0,22993.0,26854.0,30237.0,33511.0
3,A01,PRODUCT1,14115.0,9169.0,21350.0,9457.0,10254.0,10327.0,9581.0,10156.0,...,549.0,452.0,531.0,654.0,962.0,789.0,385.0,287.0,292.0,599.0
4,A01,PRODUCT12,139564.0,109173.0,119281.0,139609.0,167828.0,124848.0,157644.0,162431.0,...,158291.0,178978.0,192137.0,441993.0,1663206.0,711806.0,278487.0,320253.0,401602.0,208186.0

### UNPIVOT(열을 행으로)

In [30]:
unpivotResult = pd.melt(
    pivotResult2, id_vars=['REGIONID', 'PRODUCT'], 
    var_name='YEARWEEK', value_name='QTY')
unpivotResult

       REGIONID    PRODUCT YEARWEEK       QTY
0           A00  PRODUCT34   201401     661.0
1           A00  PRODUCT58   201401       0.0
2           A00  PRODUCT59   201401    9988.0
3           A01   PRODUCT1   201401   14115.0
4           A01  PRODUCT12   201401  139564.0
5           A01  PRODUCT14   201401    9844.0
6           A01  PRODUCT15   201401    5684.0
7           A01  PRODUCT16   201401    1316.0
8           A01  PRODUCT19   201401    1519.0
9           A01   PRODUCT2   201401     225.0
10          A01  PRODUCT20   201401      41.0
11          A01  PRODUCT33   201401    7043.0
12          A01  PRODUCT34   201401   14836.0
13          A01   PRODUCT4   201401   18722.0
14          A01  PRODUCT47   201401    5650.0
15          A01  PRODUCT56   201401    5000.0
16          A01  PRODUCT57   201401    9660.0
17          A01  PRODUCT58   201401       0.0
18          A01  PRODUCT59   201401  253391.0
19          A01   PRODUCT6   201401       0.0
20          A01  PRODUCT60   201401      13.0
21          A01  PRODUCT62   201401    5987.0
22          A01  PRODUCT63   201401   47708.0
23          A01   PRODUCT7   201401    1153.0
24          A01  PRODUCT75   201401   15798.0
25          A01   PRODUCT8   201401     164.0
26          A02   PRODUCT1   201401     321.0
27          A02  PRODUCT12   201401    9487.0
28          A02  PRODUCT14   201401    2272.0
29          A02  PRODUCT16   201401       0.0
...         ...        ...      ...       ...
124628      A65   PRODUCT1   201652      18.0
124629      A65  PRODUCT12   201652    6704.0
124630      A65  PRODUCT14   201652      40.0
124631      A65  PRODUCT33   201652     386.0
124632      A65  PRODUCT34   201652    7161.0
124633      A65  PRODUCT40   201652      44.0
124634      A65  PRODUCT47   201652     242.0
124635      A65  PRODUCT56   201652     167.0
124636      A65  PRODUCT57   201652     378.0
124637      A65  PRODUCT58   201652     815.0
124638      A65  PRODUCT59   201652   25034.0
124639      A65  PRODUCT60   201652     204.0
124640      A65  PRODUCT62   201652     391.0
124641      A66  PRODUCT34   201652     138.0
124642      A66  PRODUCT58   201652       0.0
124643      A66  PRODUCT59   201652    2229.0
124644      A67  PRODUCT34   201652    1008.0
124645      A67  PRODUCT58   201652      16.0
124646      A67  PRODUCT59   201652   17639.0
124647      A68  PRODUCT34   201652      58.0
124648      A68  PRODUCT58   201652       0.0
124649      A68  PRODUCT59   201652    2673.0
124650      A69  PRODUCT34   201652     197.0
124651      A69  PRODUCT58   201652       2.0
124652      A69  PRODUCT59   201652   14097.0
124653      A70  PRODUCT34   201652    1479.0
124654      A70  PRODUCT58   201652      56.0
124655      A70  PRODUCT59   201652  100067.0
124656      A77   PRODUCT1   201652    2759.0
124657      A77  PRODUCT12   201652    7551.0

[124658 rows x 4 columns]